* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Arial, system-ui, sans-serif;
  background-color: #e1e7ef;
}
.container {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  height: 100vh;
}

/* header */
header {
  grid-area: header;
  padding: 20px 30px;
  background-color: #fff;
}
.search {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.search-bar {
  display: grid;
  grid-template-columns: 40px 1fr;
}
input[type='search'] {
  background-color: #e1e7ef;
  border: none;
  border-radius: 20px;
  width: clamp(200px, 40vw, 100%);
  height: 25px;
  padding: 4px 12px;
}

.user {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  justify-self: end;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
}
.user > * {
  cursor: pointer;
}
.user box-icon[name='bell'] {
  position: relative;
}
.user box-icon[name='bell']:hover::after {
  position: absolute;
  content: 'Notifications';
  width: fit-content;
  font-size: 0.8rem;
  font-weight: normal;
  background-color: orange;
  color: #fff;
  padding: 2px 8px;
  top: -10px;
  left: -100px;
}

.account {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70px;
  align-items: end;
}
.profile {
  display: grid;
  grid-template-columns: 50px max-content;
}
.user-handle {
  display: grid;
  align-content: center;
  font-weight: bold;
  line-height: 1.3;
}
.user-handle div:nth-child(1) {
  font-size: 0.8rem;
}
.user-actions {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  justify-self: end;
  gap: 10px;
}
.user-actions button {
  color: white;
  background-color: #1991d2;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
}
.user-actions button:active {
  background-color: #1991d299;
  transition: all 0.1s ease-in-out;
}

/* aside left */
aside#dashboard {
  grid-area: sidebar;
  background-color: #1991d2;
  color: white;
  padding: 10px 25px;

  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 30px;
}
#dashboard .heading {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-self: start;
  justify-self: center;
  align-items: center;
  gap: 5px;
}
#dashboard .heading div {
  font-size: 1.2rem;
}
#dashboard ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  justify-items: start;
  gap: 10px;
}
#dashboard ul + ul {
  margin-top: 40px;
}
#dashboard li {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 10px;
}
#dashboard ul li > * {
  cursor: pointer;
}
#dashboard ul li > div:hover {
  border-bottom: 1px solid;
}

/* main */
main {
  grid-area: main;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'headings headings'
    'cards info';
  gap: 20px;
  padding: 30px;
}

.headings {
  grid-area: headings;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.cards {
  grid-area: cards;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 15px;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  border-left: 6px solid orange;
  padding: 20px;
  display: grid;
  align-items: start;
  align-content: space-between;
  line-height: 1.3;

  box-shadow: 1px 3px 8px #666;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  gap: 20px;
}
.card .actions > * {
  cursor: pointer;
}
.actions > box-icon[name='star'],
.actions > box-icon[name='window'],
.actions > box-icon[name='share-alt'] {
  position: relative;
}
.actions > box-icon[name='star']::after,
.actions > box-icon[name='window']::after,
.actions > box-icon[name='share-alt']::after {
  position: absolute;
  width: fit-content;
  background-color: orange;
  color: #fff;
  font-size: 0.8rem;
  padding: 1px 6px;
}

.actions > box-icon[name='star']:hover::after {
  content: 'Favourite';
  top: -22px;
  left: -20px;
}
.actions box-icon[name='window']:hover::after {
  content: 'View';
  top: -22px;
  left: -10px;
}
.actions > box-icon[name='share-alt']:hover::after {
  content: 'Share';
  top: -22px;
  left: -10px;
}

/* announcements | trending */
.info {
  grid-area: info;
  display: grid;
  gap: 20px;
}
.announcements,
.trending {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 1px 3px 8px #666;
}
.announcements {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 30px;
  line-height: 1.3;
}
.announcements div:first-child,
.announcements div:nth-child(2) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.trending ul {
  list-style-type: none;
}
.trending li {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 20px;
  align-items: center;
}
.trending li + li {
  margin-top: 20px;
}
.trending li > div p:last-child {
  color: #636363;
}
.trending li > box-icon,
.trending li div > p:first-child {
  cursor: pointer;
}
.trending div > p:first-child {
  width: fit-content;
}
