.container {
  display: grid;
  grid-template-areas:
    'sidebar user user'
    'sidebar main info-sidebar';
  grid-template-columns: 1fr 2fr 1fr;
}

header {
  grid-area: user;
}
aside {
  grid-area: sidebar;
}
main.grid-container {
  grid-area: main;
}
aside.info {
  grid-area: info-sidebar;
}
